/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.signup-container,
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #04ad20f3;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(3, 97, 0);
}

.form-group input {
  margin-bottom: 10px; /* Adds spacing between the input fields */
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.welcome-message {
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.message-to-user {
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-bottom: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.create-account-link {
  text-align: center;
  margin-top: 10px;
}

.create-account-link a {
  color: #007bff;
  text-decoration: none;
}

.create-account-link a:hover {
  text-decoration: underline;
}

/* General styles for the whole app */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


.header-component {
  position: fixed;  
  top: 0; 
  width: 100%; 
  z-index: 1000; 
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 35px;
}

.logo-name {
  font-size: 24px;
  font-weight: bold;
  color: #4d4b4b;
}
.img-logo {
  width: 50px;
}
.logo-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #04ad20f3;
  border: none;
  border-radius: 4px;
  color: #ffff;
  cursor: pointer;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

.user-actions .cart {
  display: flex;
  align-items: center;
}

.user-actions .cart img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.cart {
  margin-left: 30px;
}
.navbar {
  background-color: #04ad20f3;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  /* new-try */
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #000000, #000000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}
.navbar a:before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #000000;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover {
  background-position: 0%;
}
.navbar a:hover:before {
  width: 100%;
}

.img-logo-login {
  width: 50px;
  position: relative;
  right: -175px;
}

/* Additional styles for full name inputs in SignupPage */
.full-name {
  display: flex;
  gap: 10px;
}

.full-name input {
  flex: 1;
}
