/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.signup-container,
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #04ad20f3;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(3, 97, 0);
}

.form-group input {
  margin-bottom: 10px; /* Adds spacing between the input fields */
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.welcome-message {
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.message-to-user {
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-bottom: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.create-account-link {
  text-align: center;
  margin-top: 10px;
}

.create-account-link a {
  color: #007bff;
  text-decoration: none;
}

.create-account-link a:hover {
  text-decoration: underline;
}



/* General styles for the whole app */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


.header-component {
  position: fixed;  
  top: 0; 
  width: 100%; 
  z-index: 1000; 
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 35px;
}

.logo-name {
  font-size: 24px;
  font-weight: bold;
  color: #4d4b4b;
}
.img-logo {
  width: 50px;
}
.logo-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #04ad20f3;
  border: none;
  border-radius: 4px;
  color: #ffff;
  cursor: pointer;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

.user-actions .cart {
  display: flex;
  align-items: center;
}

.user-actions .cart img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.cart {
  margin-left: 30px;
}
.navbar {
  background-color: #04ad20f3;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  /* new-try */
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #000000, #000000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}
.navbar a:before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #000000;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover {
  background-position: 0%;
}
.navbar a:hover:before {
  width: 100%;
}

.img-logo-login {
  width: 50px;
  position: relative;
  right: -175px;
}

/* Additional styles for full name inputs in SignupPage */
.full-name {
  display: flex;
  gap: 10px;
}

.full-name input {
  flex: 1;
}


/*----------------offers Page Styles-------------*/

.offers-page {
  padding: 20px;
  background-color: #f9f9f9;
}

.offers-header {
  text-align: center;
  padding: 20px;
  background-color: #05ff2fad;
  color: white;
}


.offers-header p {
  margin-top: 10px;
  font-size: 1.2em;
}

.section-title {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
  color: #333;
  border-bottom: 2px solid #04ad20f3;
  display: inline-block;
  width: 100%;
}

.featured-offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: #f9f9f9;
}

.featured-offers h2 {
  text-align: center;
  margin-bottom: 20px;
}

.offer-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a3d67;
  border-radius: 15px;
  padding: 20px;
  color: white;
  max-width: 800px;
  width: 100%;
}

.offer-image img {
  width: 200px;
  border-radius: 15px;
}

.offer-details {
  text-align: left;
}

.offer-details h2 {
  font-size: 2.5em;
  margin: 0;
}

.offer-details p {
  margin: 5px 0;
}

.offer-details .price {
  font-size: 2em;
  font-weight: bold;
  color: #f6b93b;
}

.upcoming-offers {
  margin-top: 40px;
  text-align: center;
}

.limited-time-offers h2, .upcoming-offers h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  display: inline-block;
}

.offer-timer {
  text-align: center;
  font-size: 12px;
  color: #ff0000;
  /* margin: 20px 0; */
}

.offers-footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
  color: #666;
}

.offer-details .price {
  font-size: 1.5em;
  font-weight: bold;
}

.offer-details .original-price {
  text-decoration: line-through;
  color: #777;
  margin-right: 10px;
}

.offer-details .discounted-price {
  color: #e74c3c;
}


/*----------ABOUT PAGE-------------*/
.about-page {
  /* padding: 20px; */
  /* max-width: 1200px; */
  margin: 0 auto;
  background-color: #f4f4f4;
  color: #333;
}
.about-content {
  width: 90%;
  justify-items: center;
  padding: 20px;
}
.about-header h1 {
  font-size: 36px;
  color: #04ad20f3;
}

.about-header p {
  font-size: 18px;
  color: #666;
}

.about-introduction,
.about-values,
.about-team,
.about-contact {
  margin-bottom: 10px;
  padding: 20px; 
  /* max-width: 1200px;  */
}

.about-introduction h2,
.about-values h2,
.about-team h2,
.about-contact h2 {
  font-size: 28px;
  color: #04ad20f3;
  margin-bottom: 20px;
}

.about-introduction p,
.about-values ul,
.about-team p,
.about-contact p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: center;
}

.about-values ul {
  list-style-type: none;
  padding: 0;
}

.about-values ul li {
  margin-bottom: 10px;
}

.about-values ul li strong {
  color: rgba(4, 173, 32, 0.953);
}

.about-footer {
  text-align: center;
  padding: 20px;
  background-color: #04ad20f3;
  color: #fff;
}



/*-----------CONTACT US CSS--------*/
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  width: 100%;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.contact-banner {
  width: 100%;
  padding: 50px 0;
  background: url('https://www.dgicommunications.com/wp-content/uploads/2022/01/grocery-store-design-.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  color: white;
}

.contact-banner h1 {
  font-size: 4em;
  margin: 0;
}

.contact-content {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  position: relative;
  height: 100%;
}

.contact-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  border-radius: 10px;
}

.contact-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(230, 209, 178);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.contact-info h2 {
  font-size: 40px;
  color: #f99f29;
  font-weight: bolder;
  font-family: sans-serif;
}

.contact-info p {
  margin: 10px 0;
}

.contact-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  color: #0d9a12c4;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 15px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form .error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.contact-form button {
  padding: 15px 20px;
  margin-top: 20px;
  background-color: #2c9128;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0d9a12c4;
}

.map {
  width: 90%;
  max-width: 1200px;
  margin-top: 40px;
}

.map h2 {
  color: #f99f29;
  text-align: center;
  margin-bottom: 20px;
}

.map iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .contact-content {
    grid-template-columns: 1fr;
  }

  .contact-form {
    margin-top: 20px;
  }
}